/*
Theme Name: Özgürlük ve Demokrasi Adası
Author: Yasin Çalışır
Author URI: http://mtdesignworkshops.com/
Version: 1
License: GNU General Public License
License URI: license.txt
*/

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .phoneMail{
        font-size: 12px;
    }
    .ptopEight{
        padding-top: 5rem !important;
    }
    .ptopFour{
        padding-top: 1rem !important;
    }
    .spaBaslik{
        padding-top: 3rem;
    }
    .mPaddingTOne{
        padding-top: 1rem !important;
    }
    .mMarginLeftTwo{
        margin-left: 2px !important;
    }
    .newNavbar{
        position: relative;
        background-color: #0a2924;
        margin-top: 0px;
    }
    #header-main.active{
        display:block !important;
    }
    #header-main{
        display:block !important;
        background: #0a2924;
    }
    .mapPhone{
        margin-top:2rem;
    }
    .d-flex {
        display: -ms-flexbox!important;
        display: grid !important;
    }
    .sosyalHead {
        text-align: center !important;
    }
    .slideText{
        margin-top: 19rem !important;
    }
    .odaBaslik{
        top: 8.5rem !important;
    }
    .odaBaslikTree{
        top: 17rem !important;
    }
    .ptopTen {
        padding-top: 2rem !important;
    }
    a.navbar-brand{
        padding-right: 5rem !important;
    }
    li.nav-item {
        font-size: 13px;
    }
    .bigBaslik{
        font-size: 40px;
        padding-top: 1rem;
    }
    .bgBlack{
        padding: 1rem;
        padding-left: 2rem;
    }
    .navColor {
        background: #405565;
        z-index: 9999;
        position: absolute;
        width: 100%;
        left: 15px;
    }
    .dropdown-menu.show {
        z-index: 99999;
    }
    .carousel{
        height: auto !important;
    }
    .hTitle{
        font-size: 35px;
        padding-top: 11rem;
    }
    .slideBaslik{
        font-size: 40px;
    }
    .dropdown-menu2.show {
        transform: translate3d(87px, 40px, 0px) !important;
        text-align: center;
    }
    .mobilRimage{
        max-width: 90px !important;
    }
    .restorantRezerve{
        min-height: 850px;
    }
    .dropdown-menu.dropdown-menu-two.show {
        text-align: center;
    }
    .navbar-light .navbar-toggler{
        border-color: rgb(255 255 255 / 83%);
    }
    .navbar-light .navbar-toggler-icon {
        background-image: url(/static/images/barss.svg) !important;
    }
    a.btn.btn-bookNow {
        background: #bb985f;
        color: white;
        font-weight: 500;
        position: fixed;
        bottom: 14px;
        width: 97%;
        text-align: center;
        display: block !important;
        margin-left: -10px;
        box-shadow: 0px 10px 12px -4px #bb985f;
    }
    .btnRez{
        display: none !important;
    }
 }

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    .mobilRimage{
        max-width: 90px !important;
    }
        .restorantRezerve{
        min-height: 850px;
    }
    #header-main.active{
        display:block !important;

    }
    .ptopEight{
        padding-top: 5rem !important;
    }
        .mapPhone{
        margin-top:2rem;
    }
    .d-flex {
        display: -ms-flexbox!important;
        display: grid !important;
    }
    .sosyalHead {
        text-align: center !important;
    }
    .slideText{
        margin-top: 19rem !important;
    }
    .odaBaslik{
        top: 8.5rem !important;
    }
    .odaBaslikTree{
        top: 17rem !important;
    }
    .ptopTen {
        padding-top: 5rem !important;
    }
    a.navbar-brand{
        padding-right: 5rem !important;
    }
    li.nav-item {
        font-size: 13px;
    }
    .bigBaslik{
        font-size: 40px;
    }
    .navColor {
        background: #405565;
        z-index: 9999;
        position: absolute;
        width: 100%;
    }
    .dropdown-menu.show {
        z-index: 99999;
    }
    .carousel{
        height: auto !important;
    }
    .hTitle{
        font-size: 35px;
        padding-top: 11rem;
    }
    .slideBaslik{
        font-size: 40px;
    }
    .dropdown-menu2.show {
        transform: translate3d(87px, 40px, 0px) !important;
        text-align: center;
    }
        .mapPhone{
        margin-top:2rem;
    }
    .col-md-2.col-xs-6.col-sm-6 {
        min-width: 50%;
    }
    .dropdown-menu.dropdown-menu-two.show {
        text-align: center;
    }
    .navbar-light .navbar-toggler{
        border-color: rgb(255 255 255 / 83%);
    }
    .navbar-light .navbar-toggler-icon {
        background-image: url(/static/images/barss.svg) !important;
    }
    a.btn.btn-bookNow {
        background: #bb985f;
        color: white;
        font-weight: 500;
        position: fixed;
        bottom: 14px;
        width: 97%;
        text-align: center;
        display: block !important;
        margin-left: -10px;
        box-shadow: 0px 10px 12px -4px #bb985f;
    }
    .btnRez{
        display: none !important;
    }
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .phone100{
        width: 100% !important;
    }
    #header-main.active{
        display:block !important;

    }
    #header-main{
        width: 100%;
    }
    .min100{
        min-width: 100%;
    }
    a.navbar-brand{
        padding-right: 5rem !important;
    }
    .phone100 {
        max-width: 100% !important;
        flex: 0 0 100%;
    }
    li.nav-item {
        font-size: 12px !important;
    }
        .mapPhone{
        margin-top:2rem;
    }
        .col-md-3.col-xs-6.col-sm-6 {
    min-width: 50%;
}
        .bosDiv{
            display: none !important;
        }
    .col-md-2.col-xs-6.col-sm-6 {
        min-width: 50%;
    }
    .dropdown-menu.dropdown-menu-two.show {
        text-align: center !important;
    }
    .navbar-light .navbar-toggler{
        border-color: rgb(255 255 255 / 83%);
    }
    .navbar-light .navbar-toggler-icon {
        background-image: url(/static/images/barss.svg) !important;
    }
    #navbarSupportedContent {
        background-color: #0a2924;
        text-align: center;
    }
    a.btn.btn-bookNow {
        background: #bb985f;
        color: white;
        font-weight: 500;
        position: fixed;
        bottom: 14px;
        width: 97%;
        text-align: center;
        display: block !important;
        margin-left: -5px;
        box-shadow: 0px 10px 12px -4px #bb985f;
    }
    .btnRez{
        display: none !important;
    }
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .phone100{
        width: 100% !important;
    }
    a.navbar-brand{
        padding-right: 5rem !important;
    }
    .phone100 {
        max-width: 100% !important;
        flex: 0 0 100%;
    }
    li.nav-item {
        font-size: 12px !important;
    }
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

li.nav-item {
    font-size: 13px;
}

a.btn.btn-bookNow {
    display: none;
}
