/*
Theme Name: Hotel Katre
Author: Yasin Çalışır
Author URI: http://mtdesignworkshops.com/
Version: 1
License: GNU General Public License
License URI: license.txt
*/


/* body{
font-family: 'Montserrat', sans-serif;
} */

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	/* .navbar .nav-item:hover .nav-link{ color: #fff;  } */
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}	
/* ======






/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .paddingOne{
    padding: 1rem;
  }

  .pTopOne{
    padding-top: 1rem;
  }
.btn-sign {
    background: #bb985f;
    border-radius: 0;
    color: white !important;
    padding: .5rem;
    width: 100%;
}

.btn-dil{
  color: #878788;
}

.navColor{
  background: #405565;

}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
  font-weight: bold;
  font-family: sans-serif;
  font-size: .7rem;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: #0a2924 !important;
}


.btnRez {
  background: #bb985f;
  border-color: #bb914c;
  box-shadow: 0px 5px 12px -1px #bb985f;
  color: white;
  font-size: .7rem;
}

.btnRez:hover{
  border-color: #bb914c;
  box-shadow: 0px 5px 12px -1px #bb985f;
  background: none;
  color: #bb914c;
}

.btn-rezerveNav{
  border-radius: 0px !important ;
  color:white !important;
}

.btn-rezerveNav:hover{
  color: #000 !important;
}

.bg-video-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 880px;
  background: url(https://designsupply-web.com/samplecontent/vender/codepen/20181014.png) no-repeat center center/cover;
  background-repeat: no-repeat;
  padding: 0;
}
video {
  min-width: 100%;
  min-height: 880px;
  z-index: 1;
}
.overlay {
  width: 100%;
  height: 880px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(45deg, rgba(0,0,0,.3) 50%, rgba(0,0,0,.7) 50%);
  background-size: 2px 2px;
  z-index: 2;
}

.slideText{
  position: absolute;
    z-index: 990;
    top: 0;
    text-align: center;
    min-height: 350px;
    margin-top: 18rem;
    padding-top: 5rem;
}

.slideBaslik{
  color: white;
font-family: 'Montserrat', sans-serif;
  font-size: 60px;
}

.slideSmall{
  color: white;
  font-size: 20px;
}

.mini{
  width: 96px;
  border-color: white;
}
.spa{
  font-size:35px;
  color: white;
font-family: 'Montserrat', sans-serif;
}
.mtopOne{
  margin-top: 1rem;
}
a.topLink.paddingLeft {
  display: inline-block;
  padding: 0.5rem .5rem;
  color: #878788;
  text-align: right;
}
.bgWhite{
  background-color: white;
}

.smallBaslik{
  font-size: 15px;
  text-align: center;
}
.smallBaslikTwo{
  font-size: 15px;
}
.bigBaslik{
  font-size: 70px;
font-family: serif !important;
  text-align: center;
  padding-top: 2rem;
}

.bigBaslikTree{
  font-size: 30px;
font-family: 'Montserrat', sans-serif;
}
.bigBaslikTwo{
  font-size: 50px;
font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding-top: 2rem;
}
.ptopTen{
  padding-top: 10rem;
}

.metin{
  font-size: 15px;
  color: #8f8f8f;
  text-align: center;
  line-height: 25px;
  padding: 2rem;
  padding-bottom: 1rem;
}

.ptopEight{
  padding-top: 8rem;
}

.bgTwo{
  background-color: #f9f9f9;
  padding-bottom: 6rem;
}

.mtopFour{
  margin-top: 4rem;
}

.ptopFour{
  padding-top: 4rem;
}

a.btn.btn-hotel {
  background: #bb985f;
  border-radius: 0px;
  color: white;
  transition: .5s;
}

a.btn.btn-hotel:hover {
  border: 1px solid #bb985f;
  background: #fff;
  transition: .5s;
  color: #bb985f;
}

.odaBaslik{
  position: absolute;
  top: 16.5rem;
  left: 27px;
  font-size: 15px;
  color: white;
}
.odaBaslikTree{
  top: 14rem;
  left: 27px;
  font-size: 15px;
  color: white;
  position: absolute;
}
.odaBaslikTwo{
  font-size: 30px;
font-family: 'Montserrat', sans-serif;
}

.odaOzellik{
  background: #fff;
  border: 1px solid rgb(226, 226, 226);
}

.feture{
  color: #878788;
}

.pLeft15{
  padding-left: 15px;
}

.btn-rezerve{
  color: #fff !important;
  background-color: #000;
  border-radius: 0px;
}

.bgColorR{
  background-color: #bb985f;
}

a.odaBaslikTree{
  text-decoration: none !important;
  transition: .5s;
}
a.odaBaslikTree:hover{
  color: #000;
  transition: .5s;
}

.mtopBucuk{
  margin-top: .5rem;
}

.bgBlack{
  background: #1c1c1c;
  padding: 5rem;
  color: white;
  padding-top: 9rem;
}

.paddingZero{
  padding: 0px;
}

.baslikOZel{
  color: #bb985f;
}

.marginZero{
  margin: 0px;
}

.metinTwo{
  width: 85%;
  line-height: 25px;
  color: white;
  padding: 2rem 0px;
  float: left;
}

.resMetinTwo{
  line-height: 25px;
  color: white;
  padding: 2rem 0px;
  float: left;
}

.btn-hotel-black{
  background-color: #000;
  width: 170px;
  color: white;
}

.aciklama{
  font-size: 22px;
  text-align: center;
font-family: 'Montserrat', sans-serif;
  padding: 2rem;
}

.metinAlan{
  background: #fff;
  padding: 3rem;
  min-height: 475px;
  padding-top: 5rem;
  border: 1px solid #f9f9f9;
}

.btnNewOtel{
  border: 1px solid #bb985f;
  color: #bb985f !important;
  border-radius: 0px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.modal-dialog {
  max-width: 500px;
  margin: 9.75rem auto;
}

.video{
  background-image: url(../images/video.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
}


.footerBaslik{
  color: white;
  font-size: 12px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  letter-spacing: 2px;
}


.footerAltBaslik{
  color: rgb(214, 214, 214);
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 2px;
}

.mtopTree{
  margin-top: 3rem;
}
.mtopTwo{
  margin-top: 2rem;
}

.topLinkTwo{
  display: inline-block;
  padding-left: .5rem;
  color: #ffffff;
  text-align: left;
  font-size: 18px;
}

.footerLink {
    color: white;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 13px;
    letter-spacing: 1px;
    text-decoration: none;
}

.footerLink:hover{
  text-decoration: none;
}

.footerRef{
  color: white;
  font-size: 13px;
  text-decoration: none;
}

.footerRef:hover{
  text-decoration: none;
}

a:hover {
  color: #bb985f ;
  text-decoration: underline;
}

.icerikTitle{
  background-position: center;
  background-repeat: no-repeat;
  max-height: 450px;
}

.restorantTitle{
  background-image: url(../images/parallax-14.jpg);
}

.hTitle{
  color: white;
  text-align: center;
  padding: 2rem;
font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  padding-top: 8.5rem;
}

.tBg{
  height: 305px;
  background: rgb(41 41 41 / 52%);
  width: 100%;
  position: absolute;
}

.odaTitle{
  font-size: 30px;
font-family: 'Montserrat', sans-serif;
}

.rezerve{
  background-color: #1c1c1d;
  padding: 2rem;
  color: white;
}

.carousel{
  margin-top: 16px;
}

.btnRezervasyon{
  border: 1px solid;
    border-radius: 0;
    width: 100%;
    margin-top: 2rem;
    padding-left: 6px;
}

.Odafuture{
  color: #878788;
  font-size: 15px;
  font-weight: 400;
  padding-top: 10px;
}

.odaMetin{
  color: #878788;
  font-size: 15px;
  padding-top: 2rem;
}

.odaServisi{
  color: #878788 !important;
}

.odaServisTitle{
font-family: 'Montserrat', sans-serif;
}

.otelCev{
  width: 223px;
  height: 100%;
  position: absolute;
  background: rgb(30 33 33 / 50%);
}

.cevTitle {
  position: absolute;
  color: white;
  font-size: 14px;
  bottom: 5px;
  left: 2rem;
font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
}

.cevTitle a{
  color: white;
}

.iletisimTitle{
font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
}

.iletisimP{
  color: #878788;
  font-weight: 400;
  line-height: 1.8;
}

.iletisimForm{
  background-color: #f9f9f9;
  border-radius: 0;
  border-color: #f1f1f1;
  color: #878787;
}

.btn-hotel {
  background: #bb985f;
  border-radius: 0px;
  color: white;
  transition: .5s;
}

.tableHead {
  background: #bb985f;
  padding: 1rem;
  color: white;
  border-radius: .5rem;
}

h4.restorantFuture {
  padding-top: 1.5rem;
  letter-spacing: 2px;
  color: #878787;
  font-size: 16px;
  font-weight: 400;
}

.mtopEight{
  margin-top: 8rem;
}

.restorantRezerve{
  background-image: url(../images/parallax-14.jpg);
  height: 750px;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 60px !important;
  padding-bottom: 100px !important;
}

.restorantCheck{
  padding-top: 30px !important;
  padding-right: 30px !important;
  padding-bottom: 20px !important;
  padding-left: 30px !important;
  background-color: #1c1c1c !important;
}

.restorantForm{
  border-radius: 0px;
  background-color: #151515;
  border-color: #151515;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: rgb(193 155 119);
}

.galeriImg:hover {
  background: #071f3e;
  opacity: .5;
  transition: .5s;
}

.galeriImg {
  cursor: pointer;
  transition: .5s;
}

a{
  text-decoration: none !important;
}

.nav-tabs{
  border: none !important;
}


.sticky {
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 998;
}

.sticky + .content {
  padding-top: 60px;
}

.toplantiBaslik{
  position: absolute; top: 0; left: 2rem; margin-top: 10rem;  color: white;
}

.toplantıSalonu{
  margin-bottom: 15px;
}


.pic-wrapper {
  position: absolute;
  width: 100%;
  overflow: hidden;
}

.fig {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  /*animation*/
  
  animation: slideShow 24s linear infinite 0s;
  -o-animation: slideShow 24s linear infinite 0s;
  -moz-animation: slideShow 24s linear infinite 0s;
  -webkit-animation: slideShow 24s linear infinite 0s;
}

figurecaption {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
}

.pic-1 {
  opacity: 1;
  background-image: url(../images/parallax-10.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.pic-2 {
  animation-delay: 6s;
  -o-animation-delay: 6s;
  -moz--animation-delay: 6s;
  -webkit-animation-delay: 6s;
  background: url(../images/parallax-13.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.pic-3 {
  animation-delay: 12s;
  -o-animation-delay: 12s;
  -moz--animation-delay: 12s;
  -webkit-animation-delay: 12s;
  background: url(../images/parallax-14.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.pic-4 {
  animation-delay: 18s;
  -o-animation-delay: 18s;
  -moz--animation-delay: 18s;
  -webkit-animation-delay: 18s;
  background: url(../images/parallax-10.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



/* keyframes*/

@keyframes 
slideShow {  0% {
 opacity: 0;
 transform:scale(1);
 -ms-transform:scale(1);
}
 5% {
 opacity: 1
}
 25% {
 opacity: 1;
}
 30% {
 opacity: 0;
 transform:scale(1.1);
 -ms-transform:scale(1.1);
}
 100% {
 opacity: 0;
 transform:scale(1);
 -ms-transformm:scale(1);
}
}
 @-o-keyframes 
slideShow {  0% {
 opacity: 0;
 -o-transform:scale(1);
}
 5% {
 opacity: 1
}
 25% {
 opacity: 1;
}
 30% {
 opacity: 0;
 -o-transform:scale(1.1);
}
 100% {
 opacity: 0;
 -o-transformm:scale(1);
}
}
 @-moz-keyframes 
slideShow {  0% {
 opacity: 0;
 -moz-transform:scale(1);
}
 5% {
 opacity: 1
}
 25% {
 opacity: 1;
}
 30% {
 opacity: 0;
 -moz-transform:scale(1.1);
}
 100% {
 opacity: 0;
 -moz-transformm:scale(1);
}
}
 @-webkit-keyframes 
slideShow {  0% {
 opacity: 0;
 -webkit-transform:scale(1);
}
 5% {
 opacity: 1
}
 25% {
 opacity: 1;
}
 30% {
 opacity: 0;
 -webkit-transform:scale(1.1);
}
 100% {
 opacity: 0;
 -webkit-transformm:scale(1);
}
}

.modal-dialog.modal-lg {
  max-width: 800px !important;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  max-height: 450px !important;
}

.meetSlide img {
    max-height: 567px;
}

.newNavbar{
  height:83px;
  position: absolute;
  z-index: 2;
  margin-top: 2rem;

}

.newBrand{
  padding-right: 4rem;
}

.carousel-control-prev {
  left: 0;
  z-index: 1;
}

.carousel-control-next {

  z-index: 1;
}

.bgFilter{
  width: 100%;
  height: 100%;
  max-height: 900px;
  background: rgb(10 41 36 / 41%);
  position: absolute;
  z-index: 1;
}

a.btn.btnRezervasyon {
  color: white;
  border-color: white;
}

a.btn.btn-detay {
  border: 1px solid #0a2924;
  color: #0a2924;
  border-radius: 1px;
}

a.btn.btn-detay:hover {
  background: #0a2924;
  color: #fff;
}

a.btn.btn-detay-two.mtopTwo:hover {
  color: #fff;
  background: #bb985f;
}

a.btn.btn-detay-two.mtopTwo {
  border: 1px solid;
  border-radius: 1px;
  border-color: #bb985f;
  color: #bb985f;
}

.ptopTwo{
  padding-top: 2rem;
}