{% extends 'base.html' %}
{% load static %}

{% block meta_description %}{{ about.meta_description }}{% endblock %}
{% block other_metas %}{{ about.other_metas | safe}}{% endblock %}
{% block meta_title %} {{ about.meta_title }} {% endblock %}


{% block body %}

    <!--Head başlangıç-->
    {% include 'head.html' %}
    <!--head bitiş-->


     <div class=" icerikTitle">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel"
             style="margin-top: 0px;">
             <div class="bgFilter"></div>
            <div class="carousel-inner">
                {% for item in about_slider %}
                    <div class="carousel-item {% if forloop.first %} active{% endif %}">
                        <img src="{{ item.image.url }}" class="d-block w-100" alt="{{ item.image_alt_text }}">
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% if about %}
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 ptopTen text-center">
                        <h4 class="smallBaslik">KATRE ISLAND HOTEL</h4>
                        <hr class="hrTwo" width="10%">

                        <h3 class="bigBaslik">
                            {{ about.title }}
                        </h3>
                        <p class="metin pTopOne">
                            {{ about.content | safe}}
                        </p>
                    </div>

                </div>
            </div>
        </div>

    {% endif %}
    <br><br><br>



{% endblock %}