{% extends 'base.html' %}
{% load static %}

{% block meta_description %}{{ blog.meta_description }}{% endblock %}
{% block meta_title %} {{ blog.meta_title }} {% endblock %}
{% block other_metas %}{{ blog.other_metas | safe}}{% endblock %}



{% block body %}

    <!--Head Başlangıç-->
    {% include 'head.html' %}
    <!--Head Bitiş-->


    <div class=" icerikTitle">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel"
             style="margin-top: 0px;">
             <div class="bgFilter"></div>
            <div class="carousel-inner">
                {% for item in blog_slider %}
                    <div class="carousel-item {% if forloop.first %} active{% endif %}">
                        <img src="{{ item.image.url }}" class="d-block w-100" alt="{{ item.image_alt_text }}">
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% if blogs %}
        <div class="container">
            <div class="row mtopFour">
                {% for item in blogs %}
                    <div class="col-md-4">
                        <img width="100%" src="{{ item.image.url }}">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="odaOzellik paddingOne">

                                    <div class="feture">
                                        <h4 class="smallBaslikTwo">{{ item.small_title }}</h4>
                                        <div style="width: 50px;">
                                            <hr class="hrTwo">
                                        </div>
                                        <h3 class="odaBaslikTwo">{{ item.title }}</h3>
                                        <p class="mtopOne">
                                            {{ item.short_description | safe }}
                                            <br>
                                            <a class="btn btn-detay mtopTwo" href="{% url 'blog_detail'  item.slug %}">Detaya Git</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    {% endif %}
    <br><br>
{% endblock %}