{% extends 'base.html' %}
{% load static %}

{% block meta_description %}{{ blog.meta_description }}{% endblock %}
{% block other_metas %}{{ blog.other_metas | safe }}{% endblock %}
{% block meta_title %} {{ blog.meta_title }} {% endblock %}

{% block body %}


    <!--Head başlangıç-->
    {% include 'head.html' %}
    <!--head bitiş-->


    <div class=" icerikTitle">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel"
             style="margin-top: 0px;">
            <div class="bgFilter"></div>
            <div class="carousel-inner">
                {% for item in blog_slider %}
                    <div class="carousel-item {% if forloop.first %} active{% endif %}">
                        <img src="{{ item.image.url }}" class="d-block w-100" alt="{{ item.image_alt_text }}">
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>

    <div class="container-fluid icBg mtopFour" style="background: #fff;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="odaTitle">{{ blog.title }}</h3>
                </div>
            </div>

            <div class="row" style="margin-bottom:2rem;">

                <div class="col-md-9">
                    <img width="100%" height="450" style="border-radius:.5rem" src="{{ blog.image.url }}"
                         alt="{{ blog.image_alt_text }}">
                    <div class="row mtopFour">
                        <div class="col-md-2 text-center">
                            <a class="haberDate"><h4>{{ blog.created_at|date:"d" }}</h4>
                                <small>{{ blog.created_at|date:"M Y" }}</small></a>
                        </div>
                        <div class="col-md-10 borderLeftTwo">
                            <p class="haberDetay">
                                {{ blog.description | safe }}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">

                    <div class="row padding-top-30">
                        <div class="col-md-12">
                            <h4>Kategori</h4>
                            <div><p class="haberDetay">
                                {{ blog.category }}
                            </p></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}