{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load custom_tags %}

{% block meta_description %}{{ item.meta_description }}{% endblock %}
{% block other_metas %}{{ item.other_metas | safe}}{% endblock %}
{% block meta_title %} {{ item.meta_title }} {% endblock %}



{% document_kvkk as kvkk %}
{% document_acik_riza_beyani as acik_riza %}
{% block body %}

    <!--Head Başlangıç-->
    {% include 'head.html' %}
    <!--Head Bitiş-->

 <div class=" icerikTitle">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel"
             style="margin-top: 0px;">
             <div class="bgFilter"></div>
            <div class="carousel-inner">
                {% for item in contact_slider %}
                    <div class="carousel-item {% if forloop.first %} active{% endif %}">
                        <img src="{{ item.image.url }}" class="d-block w-100" alt="{{ item.image_alt_text }}">
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
    <div class="container-fluid">
        <div class="container">
            <div class="row mtopFour">
                <div class="col-md-6 min100">
                    <div>
                        <h4 class="iletisimTitle">{{ item.title }}</h4>
                        <p class="iletisimP mtopTwo">{{ item.description | safe }}</p>
                        {% csrf_token %}
                        <form class="mtopTwo" method="post">
                            <div class="form-group">
                                <label for="exampleInputEmail1">{% trans 'Ad' %}</label>
                                <input type="text" class="form-control iletisimForm" id="name" name="name" required
                                       aria-describedby="textHelp">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">{% trans 'E-posta' %}</label>
                                <input type="email" class="form-control iletisimForm" id="email" name="email" required
                                       aria-describedby="emailHelp">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">{% trans 'Mesaj' %}</label>
                                <textarea class="form-control iletisimForm" id="message" name="message" required
                                          rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <h3 class="footerAltBaslik"><p class="mtopOne">
                                <input type="checkbox" aria-label="Checkbox for following text input"
                                            id="kvkk1" name="kvkk1" required>
                                <a data-toggle="modal"
                                                                                  style="color: #0a0a0a;cursor: pointer;"
                                                                                  data-target="#staticBackdrop">
                                    {% trans 'Aydınlatma metnini okudum ve anladım' %}
                                </a> </p></h3>
                            </div>

                            <div class="form-group">
                                <h3 class="footerAltBaslik"><p class="mtopOne">
                                <input type="checkbox" aria-label="Checkbox for following text input"
                                            id="kvkk2" name="kvkk2" required>
                                <a data-toggle="modal"
                                                                                  style="color: #0a0a0a;cursor: pointer;"
                                                                                  data-target="#staticBackdrop2">
                                    {% trans 'Açık Rıza okudum, anladım ve onaylıyorum' %}
                                </a> </p></h3>
                            </div>

                            <!-- Modal -->
                            <div class="modal fade" id="staticBackdrop" data-backdrop="static"
                                 data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">
                                                {% trans 'KVKK Rıza Metni' %}</h5>
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">

                                            {% document_kvkk as kvkk %}
                                            {{ kvkk.description | safe }}


                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">{% trans 'Kapat' %}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Modal -->
                            <div class="modal fade" id="staticBackdrop2" data-backdrop="static"
                                 data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">
                                                {% trans 'KVKK Rıza Metni' %}</h5>
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            {% document_acik_riza_beyani as acik_riza %}
                                            {{ acik_riza.description | safe }}

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">{% trans 'Kapat' %}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <input type="submit" formaction="{% url 'contact' %}"
                                   name="news" class="btn btn-hotel"
                                   value="{% trans 'Gönder' %}"/>
                        </form>
                    </div>
                </div>
                <div class="col-md-6 min100">
                    <div class="mapPhone">
                        <iframe width="100%" height="305"
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1508.6596937748684!2d28.992057158294134!3d40.864864573263254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ca959956f571c7%3A0x9f5abbf7a487f652!2zRGVtb2tyYXNpIHZlIMOWemfDvHJsw7xrbGVyIEFkYXPEsQ!5e0!3m2!1str!2str!4v1609694096203!5m2!1str!2str"
                                frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                                tabindex="0"></iframe>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="padding:20px;">

                            <div class="row mtopOne">
                                <div class="col-3">
                                    {% trans 'Adres' %} :
                                </div>
                                <div class="col-9 text-right">
                                    {{ item.address | safe}}
                                </div>
                            </div>
                                <hr>
                            <div class="row mtopOne">
                                <div class="col-6">
                                    {% trans 'Telefon' %} :
                                </div>
                                <div class="col-6 text-right">
                                    {{ item.country_code }} {{ item.phone }}
                                </div>
                            </div>

                                <hr>
                            <div class="row mtopOne">
                                <div class="col-3 phoneMail">
                                    {% trans 'E-posta' %} :
                                </div>
                                <div class="col-9 text-right phoneMail">
                                    {{ item.email }}
                                </div>
                            </div>

                                <hr>
                            <div class="row mtopOne">
                                <div class="col-3">
                                    {% trans 'Giriş' %} :
                                </div>
                                <div class="col-3 text-right">
                                    {{ item.check_in }}
                                </div>
                                <div class="col-3">
                                    {% trans 'Çıkış' %} :
                                </div>
                                <div class="col-3 text-right">
                                    {{ item.check_out }}
                                </div>
                            </div>

                        {% comment %} <table class="table">
                        <tbody>
                            <tr>
                                <td >{% trans 'Adres' %} :</td>
                                <td colspan="3" class="text-right" style="color: #878787;">{{ item.address }}

                            </tr>
                            <tr>
                                <td>{% trans 'Telefon' %} :</td>
                                <td class="text-right" style="color: #878787;">{{ item.phone }}
                                <td>{% trans 'E-posta' %} :</td>
                                <td style="font-size:.7rem;" class="text-right"
                                    style="color: #878787;">{{ item.email }}</td>

                            </tr>
                            <tr>
                                <td>{% trans 'Giriş' %} :</td>
                                <td class="text-right" style="color: #878787;">{{ item.check_in }}</td>
                                <td>{% trans 'Çıkış' %} :</td>
                                <td class="text-right" style="color: #878787;">{{ item.check_out }}</td>
                            </tr>
                        </tbody>
                        </table> {% endcomment %}
{% comment %}
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td >{% trans 'Adres' %} :</td>
                                    <td class="text-right" style="color: #878787;">{{ item.address }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>{% trans 'Telefon' %} :</td>
                                    <td class="text-right" style="color: #878787;">{{ item.phone }}
                                </tr>

                                <tr>
                                    <td>{% trans 'Giriş' %} :</td>
                                    <td class="text-right" style="color: #878787;">{{ item.check_in }}</td>
                                </tr>
                                <tr>
                                    <td>{% trans 'Çıkış' %} :</td>
                                    <td class="text-right" style="color: #878787;">{{ item.check_out }}</td>
                                </tr>

                                </tbody>
                            </table> {% endcomment %}
                        </div>
                        {% comment %} <div class="col-md-6">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td>{% trans 'Telefon' %} :</td>
                                    <td class="text-right" style="color: #878787;">{{ item.phone }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>{% trans 'E-posta' %} :</td>
                                    <td style="font-size:.7rem;" class="text-right"
                                        style="color: #878787;">{{ item.email }}</td>
                                </tr>
                                <tr>
                                    <td>{% trans 'Çıkış' %} :</td>
                                    <td class="text-right" style="color: #878787;">{{ item.check_out }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div> {% endcomment %}
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-warning" role="alert">
                                <a data-toggle="modal" style="cursor: pointer;" data-target="#nasilGidilir">
                                    {% trans 'Katre Island Hotel e Nasıl Giderim' %} ?</a>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="nasilGidilir" tabindex="-1" aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title"
                                                id="exampleModalLabel">{% trans 'Sefer Saatleri' %}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="container mTop4 shadows">
                                                <div class="row ">
                                                    <div class="col-md-1"></div>
                                                    <div class="col-md-10 tableHead">
                                                        <div class="row text-center">
                                                            <div class="col-md-3">
                                                                <a><i class="far fa-calendar-alt"></i> {% trans 'GÜNLER' %}
                                                                </a>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <a><i class="far fa-clock"></i> {% trans 'LİMAN KALKIŞ' %}
                                                                </a>
                                                            </div>
                                                            <div class="col-md-5">
                                                                <a><i class="far fa-clock"></i> {% trans 'ADA KALKIŞ' %}
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1"></div>
                                                </div>
                                                {{ item.departure_times | safe }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>

{% endblock %}