{% extends 'base.html' %}
{% load static %}
{% block body %}

    <!--Head başlangıç-->
    {% include 'head.html' %}
    <!--head bitiş-->


      <div class=" icerikTitle">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel"
             style="margin-top: 0px;">
             <div class="bgFilter"></div>
            <div class="carousel-inner">
                {% for item in document_slider %}
                    <div class="carousel-item {% if forloop.first %} active{% endif %}">
                        <img src="{{ item.image.url }}" class="d-block w-100" alt="{{ item.image_alt_text }}">
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

       <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="metin pTopOne">
                         {{document.description |safe}}
                    </p>
                </div>
            </div>
        </div>
       <br><br><br>



{% endblock %}