{% load static %}
{% load i18n %}
<div class="container-fluid">
    <div class="row">
        <div id="carouselExampleControlsNoTouching" class="carousel slide" style="margin-top:0px;" data-touch="false" data-interval="false">
            <div class="carousel-inner" style="max-height: 960px !important;">
                {% for item in eat_and_drinks %}
                    <div class="carousel-item {% if forloop.first %} active{% endif %}">
                        <div class="row">
                            <div class="col-md-6 paddingZero phone100">
                                <img src="{{ item.base_image.url }}" width="100%" alt="{{ item.image_alt_text }}">
                            </div>
                            <div class="col-md-6 bgBlack phone100">
                                <h4 class="smallBaslik text-left">{% trans 'Restoranlar & Barlar' %}</h4>
                                <h3 class="bigBaslik text-left" style="color: #bb985f">
                                    {{ item.small_title }}
                                </h3>
                                <p class="resMetinTwo">
                                    {{ item.short_description | safe }}
                                    <br>
                                    <a class="btn btn-detay-two mtopTwo" href="{% url 'restaurant_detail'  item.slug %}">Detaya Git</a>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
            <a class="carousel-control-prev" href="#carouselExampleControlsNoTouching" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControlsNoTouching" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
