{% load static %}
{% load custom_tags %}
{% load i18n %}

{% document_acik_riza_beyani as acik_riza %}
{% document_kvkk as kvkk %}
{% document_gizlilik_politikasi as gizlilik %}
{% document_cerez_politikasi as cerez %}
{% document_sartlar_ve_kosullar as sartlar %}

<!--Footer Başlangıç-->
<div class="container-fluid" style="background-color: #0a2924;border-top: 1px solid #151516;">
    <div class="container">
        <div class="row mtopFour">
            <div class="col-md-3 col-xs-6 col-sm-6">
                <h3 class="footerBaslik">{% trans 'Bize Ulaşın' %}</h3>
                <h3 class="footerAltBaslik">7/24 {% trans 'CANLI DESTEK' %}</h3>
                {% contacts as contact %}
                <h3 class="footerBaslik mtopTwo">({{ contact.country_code }}){{ contact.phone }}</h3>
                <h3 class="footerBaslik">{{ contact.email }}</h3>
            </div>

            <div class="col-md-3 col-xs-6 col-sm-6">
                <h3 class="footerBaslik">{% trans 'Hotel Katre' %} </h3>
                <h3 class="footerAltBaslik">{% trans 'NASIL GİDERİM ?' %}</h3>
                <h3 class="footerBaslik mtopTwo">
                    {% comment %} <iframe width="100%" height="120"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1508.6596937748684!2d28.992057158294134!3d40.864864573263254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ca959956f571c7%3A0x9f5abbf7a487f652!2zRGVtb2tyYXNpIHZlIMOWemfDvHJsw7xrbGVyIEFkYXPEsQ!5e0!3m2!1str!2str!4v1609694096203!5m2!1str!2str"
                            frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                            tabindex="0"></iframe> {% endcomment %}
                </h3>
                <h3 class="footerBaslik mtopTwo">İletişim Sayfası</h3>
            </div>

            <div class="col-md-3 col-xs-6 col-sm-6">
                <h3 class="footerBaslik">{% trans 'Bizi Takip Edin' %}</h3>
                <h3 class="footerAltBaslik">{% trans 'SOSYAL MEDYA KANALLARI' %}</h3>
                <h3 class="footerBaslik mtopTwo">
                    {% social_media as media %}
                    {% for item in media %}
                        <a href="{{ item.link }}" target="_blank" class="topLinkTwo"><i class="fab {{ item.icon }}"></i></a>
                    {% endfor %}
                </h3>
            </div>
            <div class="col-md-3 col-xs-6 col-sm-6">
                <h3 class="footerBaslik">{% trans 'Abone Olun' %}!</h3>


                <form method="post">
                    <div class="form-group">
                        <h3 class="footerAltBaslik">

                            <p class="mtopOne">
                                <input type="checkbox" aria-label="Checkbox for following text input" name="kvkk2"
                                       id="kvkk2" required>
                            <a data-toggle="modal" style="cursor: pointer;"
                                                  data-target="#staticBackdrop">{% trans 'Aydınlatma metnini okudum ve anladım' %}</a>

                            </p>
                        </h3>
                    </div>
                    <div class="form-group">
                        <div class="input-group mb-3 mtopOne">
                            <input type="email" class="form-control" required style="border-radius: 0;"
                                   placeholder="{% trans 'E-posta Adresi' %}" name="mail"
                                   aria-label="Recipient's username"
                                   aria-describedby="basic-addon2">
                            <input type="submit"  style="border-radius: 0;background: #bb985f;border-color: #bb985f;color: white;" formaction="{% url 'subscriber' %}" 
                                   name="subscriber" class="input-group-text"
                                   value="{% trans 'Abone Ol' %}"/>
                        </div>

                    </div>

                </form>
                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
                     aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">{% trans 'KVKK Rıza Metni' %}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            {% if acik_riza %}
                                <div class="modal-body">
                                    {% document_acik_riza_beyani as acik_riza %}
                                    {{ acik_riza.description | safe }}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">{% trans 'Kapat' %}</button>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mtopOne paddingOne" style="background-color: #082520;">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="d-flex flex-row">
                        <div class="p-2"><a class="footerLink" href="{% url 'document_detail' gizlilik.slug %}">
                            {% trans 'Gizlilik Politikası' %}</a></div>
                        <div class="p-2"><a class="footerLink" href="{% url 'document_detail' kvkk.slug %}">{% trans 'KVKK' %}</a></div>
                        <div class="p-2"><a class="footerLink"
                                            href="{% url 'document_detail' cerez.slug %}">{% trans 'Çerez Politikası' %}</a>
                        </div>
                        <div class="p-2">
                        <a class="footerLink" href="{% url 'document_detail' sartlar.slug %}">
                            {% trans 'Şartlar ve Koşullar' %}</a></div>
                    </div>
                </div>
                <div class="col-md-6 text-right" style="padding-top: 8px;">
                    <a class="footerRef" target="_blank" href="#">Katre Island Hotel SPA &amp; Suit - 2020
                        / {% trans 'Tüm Hakları Saklıdır' %}</a>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        {% live_supports as live_support %}
        s1.src = '{{ live_support.url }}';
        //s1.src='https://embed.tawk.to/6037fac91c1c2a130d627dea/1evdan91n';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>

<!--End of Tawk.to Script-->

<!--Footer Bitiş-->

