{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block meta_description %}{{ gallery.meta_description }}{% endblock %}
{% block meta_title %} {{ gallery.meta_title }} {% endblock %}
{% block other_metas %}{{ gallery.other_metas | safe}}{% endblock %}


{% block body %}


    <!--Head başlangıç-->
    {% include 'head.html' %}
    <!--head bitiş-->

    <!-- Modal -->
    <div class="modal fade" id="ımgOne" tabindex="-1" role="dialog" aria-labelledby="ımgOne"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <button type="button" class="close modalImgClose" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <div class="modal-body ımgModalBody">

                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            {% for item in gallery_images %}
                                {% if item.id == gallery_images.first.id %}
                                    <div class="carousel-item active">
                                        <img class="d-block w-100" src="{{ item.image.url }}" title="{{ item.title }}"
                                             alt="{{ item.image_alt_text }}">
                                    </div>
                                {% else %}
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="{{ item.image.url }}" title="{{ item.title }}"
                                             alt="{{ item.image_alt_text }}">
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                           data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                           data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class=" icerikTitle">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel"
             style="margin-top: 0px;">
             <div class="bgFilter"></div>
            <div class="carousel-inner">
                {% for item in gallery_slider %}
                    <div class="carousel-item {% if forloop.first %} active{% endif %}">
                        <img src="{{ item.image.url }}" class="d-block w-100" alt="{{ item.image_alt_text }}">
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container-fluid mtopFour">
        <div class="container">

            <div class="row mtopFour">
                {% for item in gallery_images %}
                    <div class="col-md-4">
                        <img class="galeriImg" width="100%" data-toggle="modal" data-target="#ımgOne"
                             src="{{ item.image.url }}" title="{{ item.title }}" alt="{{ item.image_alt_text }}">
                        <br><br>

                    </div>
                {% endfor %}
            </div>
            <br><br>
        </div>
    </div>

    <br><br>


{% endblock %}