{% load static %}
{% load sitetree %}
{% load custom_tags %}
{% load i18n %}

{% get_site_languages as SITE_LANGUAGES %}

<div class="container-fluid newNavbar" style="z-index:2;" >

    <a class="btn btn-bookNow">REZERVASYON YAP</a>

    <div class="row justify-content-center" >       
        <div id="header-main" class="">    
            <nav class="navbar navbar-expand-lg navbar-light ">
                <a class="navbar-brand newBrand" href="{% url 'home' %}">
                    <img width="115" src="{% static 'images/logo_w.svg' %}"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto" >
                        {% sitetree_menu from "mainmenu" include "trunk,topmenu" template "menu.html" %}
                        <li style="margin-left:2rem;">
                        <a class="btn btnRez" target="_blank" href="{% get_reservation_link %}" type="submit">{% trans 'REZERVASYON YAP' %}</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {% get_current_language as LANGUAGE_CODE %}
                                {% get_available_languages as LANGUAGES %}
                                {% get_language_info_list for LANGUAGES as languages %}

                                {% if LANGUAGE_CODE == 'en' %}
                                    EN
                                {% elif LANGUAGE_CODE == 'tr' %}
                                    TR
                                {% endif %}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% for language in SITE_LANGUAGES %}
                                    <a href="/{{ language.code }}{{ request.get_full_path|slice:'3:' }}"
                                        class="dropdown-item {% if language.code == LANGUAGE_CODE %}selected{% endif %}"
                                        lang="{{ language.code }}">
                                        {% if language.code == 'en' %}
                                            EN
                                        {% elif language.code == 'tr' %}
                                            TR
                                        {% endif %}
                                    </a>
                                {% endfor %}
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>


    {% comment %} <div class="row navColor fixed-top" id="navColor">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-expand-lg navbar-light ">
                        <a style="padding-right: 1rem;" class="navbar-brand" href="{% url 'home' %}">
                            <img height="57" src="{% static 'images/logo.png' %}"></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                {% sitetree_menu from "mainmenu" include "trunk,topmenu" template "menu.html" %}
                                <li><a class="btn btn-outline-light btn-rezerveNav" target="_blank"
                                       href="{% get_reservation_link %}"
                                       type="submit">{% trans 'REZERVASYON YAP' %}</a></li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {% get_current_language as LANGUAGE_CODE %}
                                        {% get_available_languages as LANGUAGES %}
                                        {% get_language_info_list for LANGUAGES as languages %}

                                        {% if LANGUAGE_CODE == 'en' %}
                                            EN
                                        {% elif LANGUAGE_CODE == 'tr' %}
                                            TR
                                        {% endif %}
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        {% for language in SITE_LANGUAGES %}
                                            <a href="/{{ language.code }}{{ request.get_full_path|slice:'3:' }}"
                                               class="dropdown-item {% if language.code == LANGUAGE_CODE %}selected{% endif %}"
                                               lang="{{ language.code }}">
                                                {% if language.code == 'en' %}
                                                    EN
                                                {% elif language.code == 'tr' %}
                                                    TR
                                                {% endif %}
                                            </a>
                                        {% endfor %}
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div> {% endcomment %}
</div>


<script>
!function(){function n(){e(t,u,i)}
function e(n,e,c){y=pageYOffset,y>c?n.className=e:n.className=""}
function c(n,e){n.className=n.className?"":e}
function a(n){return document.getElementById(n)}var t=a("header-main"),i=500,m=a("menu-icon"),o=a("menu-main"),s="menu-active",u="active";window.addEventListener("scroll",n),m.onclick=function(){c(o,s)}}();

</script>

{% comment %} <script>
    window.onscroll = function() {myFunction()};

    var header = document.getElementById("myHeader");
    var sticky = header.offsetTop;

    function myFunction() {
    if (window.pageYOffset > sticky) {
        header.classList.add("sticky");
    } else {
        header.classList.remove("sticky");
    }
    }
</script> {% endcomment %}

<style>
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #0a2924;
}
.top-container {
  text-align: center;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgb(255 255 255 / 88%);
}
#header-main{
    -webkit-transition:all 0.5s linear;
    -moz-transition:all 0.5s linear;
    -ms-transition:all 0.5s linear;
    -o-transition:all 0.5s linear;
    transition:all 0.5s linear
    }
    #header-main .logo{
        float:left
        }
    #header-main .logo img{
            padding:10px 0
     }
        @media (max-width: 768px)
        {

        }
        @media (min-width: 768px){
            #header-main {
                float:right;
                
                }
            }
        @media (max-width: 768px){
            #header-main {
                width:100%;
                padding-bottom:10px
            }
            #header-main .menu-active{
                display:block;
                clear:both
                }
            }
            #header-main  ul{
                margin:0;
                padding-left:0
            }
            #header-main  ul li{
                list-style:none
            }
            @media (max-width: 768px){
                #header-main  ul li{
                    text-align:center;
                    margin-bottom:5px
                }
            #header-main  ul li a{
                padding:10px;
                display:block
            }
            #header-main  ul li a:hover{
                background-color:#e0e0e0;
                color:#2a4a5a
            }
            }
            @media (min-width: 768px){
                #header-main  ul li{
                    
                }
                #header-main  ul li a{
                    
                    }
                }
            #header-main #menu-icon{
                display:none
            }
            @media (max-width: 768px){
                #header-main #menu-icon{
                    background:#2a4a5a;
                    padding:18px 12px;
                    margin:2px 0;
                    position:relative;
                    top:20px;
                    display:block;
                    float:right;
                    z-index:10;
                    cursor:pointer;
                    -webkit-border-radius:4px;
                    -moz-border-radius:4px;
                    -ms-border-radius:4px;
                    -o-border-radius:4px;
                    border-radius:4px
                }
                #header-main #menu-icon .icon-menu-hamburguer{
                    background:#fff;
                    width:30px;
                    height:4px;
                    margin:2px 0;
                    display:block;
                    -webkit-border-radius:4px;
                    -moz-border-radius:4px;
                    -ms-border-radius:4px;
                    -o-border-radius:4px;
                    border-radius:4px
                }
                #header-main #menu-icon .icon-menu-hamburguer:after,#header-main #menu-icon .icon-menu-hamburguer:before{
                    content:'';
                    background:#fff;
                    width:30px;
                    height:4px;
                    display:block;
                    margin:2px 0;
                    position:relative;
                    -webkit-border-radius:4px;
                    -moz-border-radius:4px;
                    -ms-border-radius:4px;
                    -o-border-radius:4px;
                    border-radius:4px
                }
                #header-main #menu-icon .icon-menu-hamburguer:before{bottom:8px}
                #header-main #menu-icon .icon-menu-hamburguer:after{top:2px}
                }
                #header-main.active{
                    background-color: #0a2924;
                    position: fixed;
                    top: 0;
                    width: 100%;
                    margin-bottom: 0;
                    box-shadow: 3px 0px 5px 0px rgb(0 0 0 / 38%);
                    -webkit-transition: all 0.5s linear;
                    -moz-transition: all 0.5s linear;
                    -ms-transition: all 0.5s linear;
                    -o-transition: all 0.5s linear;
                    transition: all 0.5s linear;
                    -ms-flex-pack: center!important;
                    justify-content: center!important;
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                    margin-right: -15px;
                    margin-left: -15px;
                    }

                    .dropdown-menu{
                        	-webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	                        animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                    }
                    
	/* ----------------------------------------------
 * Generated by Animista on 2019-12-13 16:30:34
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.dropdown-menu{
    border: none;
    font-size: .8rem;
}


</style>