{% load static %}
{% load i18n %}

<div class="container-fluid bgTwo ptopEight" style="padding-top:6rem;">
    <div class="container">
        <div id="toplantılar" class="carousel slide" data-touch="false" data-interval="false">
            <div class="carousel-inner" style="max-height: 2200px !important;">
                {% for item in meeting_rooms %}
                    <div class="carousel-item {% if forloop.first %} active{% endif %}">
                        <div class="row">
                            <div class="col-md-6 min100 paddingZero">
                                <div class="text-center paddingOne metinAlan">
                                    <h4 class="smallBaslikTwo">{% trans 'Katre Island Hotel' %} </h4>
                                    <hr class="hrTwo" style="width: 50px;">
                                    <h3 class="bigBaslikTree">
                                        {{ item.small_title }}
                                    </h3>
                                    <p class="ptopTwo">{{ item.short_description | safe }}
                                                                                                <br>
                                                        <a href="{% url 'meeting_room_detail'  item.slug %}" class="btn btn-detay mtopTwo">Detaya Git</a>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6 min100 paddingZero">
                                <div class="meetSlide">
                                    <a href="{% url 'meeting_room_detail'  item.slug %}"><img
                                            src="{{ item.image.url }}" width="100%" alt="{{ item.image_alt_text }}"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
            <a class="carousel-control-prev" href="#toplantılar" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#toplantılar" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>


    </div>
</div>

