{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block meta_description %}{{ home.meta_description }}{% endblock %}
{% block other_metas %}{{ home.other_metas | safe}}{% endblock %}
{% block meta_title %} {{ home.meta_title }} {% endblock %}

{% block body %}


    <!-- Header Başlangıç -->
    {% include 'head.html' %}
    <!-- Header Bitiş -->


    <div class="container-fluid">
        <div class="row">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="margin-top: 0px;">
            <div class="bgFilter" style="display: none;"></div>
                <div class="carousel-inner" style="max-height: 900px !important;">
                    {% for item in slider %}
                        <div class="carousel-item {% if forloop.first %} active{% endif %}">
                            <img src="{{ item.image.url }}" class="d-block w-100" alt="{{ item.image_alt_text }}">
                        </div>
                    {% endfor %}


                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            
        </div>
    </div>

    <!--Hotel Katre About Start-->
    {% include 'katre_hotel_about.html' %}
    <!---Hotel KatreAbout Finish-->


    <!--layover-Konaklama Start--->
    {% include 'layover.html' %}
    <!--layover-Konaklama Finish--->

    <!--eat and drink Start--->
    {% include 'eatanddrink.html' %}
    <!--eat and drink Finish--->



    <!--Ball Room Start --->
    {% include 'home_meeting_room.html' %}
    <!-- Ball Room Finish --->


    <!--SPA and Suites Start --->
    {% include 'spa_suites.html' %}
    <!--SPA and Suites Finish --->


{% endblock %}