{% load static %}
{% if about %}
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ptopTen">
                    <h4 class="smallBaslik">KATRE ISLAND HOTEL</h4>
                    <hr class="hrTwo" width="10%">

                    <h3 class="bigBaslik">
                        {{ about.title }}
                    </h3>
                    <p class="metin pTopOne">
                        {{ about.short_description | safe}}
                        <br>
                    <p class="text-center">
                        <a class="btn btn-detay" href="{% url 'about' %}">Detaya Git</a>
                    </p>
                    </p>

                </div>
                <div class="col-md-6">
                    <img class="ptopEight mPaddingTOne" width="100%" src="{{ about.image.url }}" alt="{{ about.image_alt_text }}">
                    
                </div>
            </div>
        </div>
    </div>

{% endif %}

