{% load static %}
{% load i18n %}

<div class="container-fluid bgTwo mtopFour" >
    <div class="container">
        <div class="row">
            <div class="col-md-12 ptopFour" style="padding-top:2rem;">
                <div style="text-align: center;">
                    <h3 class="bigBaslikTwo" style="font-family:serif;">
                        {% trans 'Konaklama' %}
                    </h3>
                </div>
            </div>
        </div>
        <div class="row ptopFour" style="padding-top:2rem;">
            <div class="col-md-12">
                <div id="carouselExampleFade" class="carousel slide" style="margin-top:0rem;" data-touch="false" data-interval="false">
                    <div class="carousel-inner" style="max-height: 1000px !important;">
                        {% for item in layovers %}
                            <div class="carousel-item item{% if forloop.first %} active{% endif %}">
                                <div class="col-md-12">
                                    <a href="{% url 'room_detail' item.slug %}"><img width="100%" src="{{ item.thumbnail_image.url }}" alt="{{ item.image_alt_text }}"></a>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="odaOzellik paddingOne">
                                                <h3 class="odaBaslikTwo">{{ item.title }}</h3>
                                                <div class="feture">
                                                    <span><i
                                                            class="fas fa-user-circle"></i> {{ item.number_of_people }} {% trans 'Misafir' %}</span>
                                                    <span class="pLeft15"><img width="18px"
                                                                               src="{% static 'images/odaProje.svg' %}"></i>
                                                        {{ item.size }} {% trans 'Metre Kare' %}</span>
                                                    <p class="mtopOne">
                                                        {{ item.short_description | safe }}
                                                        <br>
                                                        <a class="btn btn-detay mtopTwo" href="{% url 'room_detail'  item.slug %}">Detaya Git</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" style="max-height: 700px;" href="#carouselExampleFade" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" style="max-height: 700px;" href="#carouselExampleFade" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>
