{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block meta_description %}{{ meeting_room.meta_description }}{% endblock %}
{% block other_metas %}{{ meeting_room.other_metas | safe}}{% endblock %}
{% block meta_title %} {{ meeting_room.meta_title }} {% endblock %}

{% block body %}

    <!--Head başlangıç-->
    {% include 'head.html' %}
    <!--head bitiş-->

    <div class=" icerikTitle">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel"
             style="margin-top: 0px;">
             <div class="bgFilter"></div>
            <div class="carousel-inner">
                {% for item in meeting_room_slider %}
                    <div class="carousel-item {% if forloop.first %} active{% endif %}">
                        <img src="{{ item.image.url }}" class="d-block w-100" alt="{{ item.image_alt_text }}">
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container-fluid mtopFour">
        <div class="container">


            <div class="row ">
                <div class="col-md-12 text-center">
                    <h4 class="smallBaslikTwo">{% trans 'KATRE ISLAND HOTEL' %}</h4>
                    <hr class="hrTwo" style="width: 50px;">
                    <h3 class="bigBaslikTree">
                        {{ meeting_room.title }} &amp; {% trans 'Özellikler' %}
                    </h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p class="odaMetin text-center">{{ meeting_room.description | safe}}</p>
                </div>
            </div>

            <div class="row mtopTwo">
                {% for item in meeting_room_service %}
                    <div class="col-md-3">
                        <div>
                            <div style="text-align: center;">
                                <img src="{{ item.image.url }}" width="40" alt="{{ item.image_alt_text }}">
                                <h3 class="Odafuture">{{ item.title }}</h3>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        {% if meeting_room.plan_pdf %}
            <div class="row mtopTwo">
                <div class="col-md-12 text-center">
                    <div style="text-align: center;">
                        <a class="btn btn-hotel" href="{{ meeting_room.plan_pdf.url }}" target="_blank"><i
                                class="fa fa-download"></i>
                            {% trans 'Salon Planı İndir' %}
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}


        <div class="row mtopFour">
            <div class="col-md-12 text-center">
                <h4 class="smallBaslikTwo">{% trans 'KATRE ISLAND HOTEL' %}</h4>
                <hr class="hrTwo" style="width: 50px;">
                <h3 class="bigBaslikTree">
                    {{ meeting_room.title }} &amp; {% trans 'Galeri' %}
                </h3>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="ımgOne" tabindex="-1" role="dialog" aria-labelledby="ımgOne"
             aria-hidden="true" style="display: none;">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <button type="button" class="close modalImgClose" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <div class="modal-body ımgModalBody">

                        <div id="carouselExampleFade" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                {% for item in meeting_room_gallery %}
                                    {% if forloop.first %}
                                        <div class="carousel-item active">
                                            <img class="d-block w-100" src="{{ item.image.url }}" alt="{{ item.image_alt_text }}">
                                        </div>
                                    {% else %}
                                        <div class="carousel-item">
                                            <img class="d-block w-100" src="{{ item.image.url }}" alt="{{ item.image_alt_text }}">
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleFade" role="button"
                               data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleFade" role="button"
                               data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container-fluid mtopFour">
            <div class="container">

                <div class="row mtopFour">
                    {% for item in meeting_room_gallery %}
                        <div class="col-md-4">
                            <img class="galeriImg" width="100%" data-toggle="modal" data-target="#ımgOne"
                                 src="{{ item.image.url }}" alt="{{ item.image_alt_text }}">
                            <br><br>

                        </div>
                    {% endfor %}
                </div>
                <br><br>
            </div>
        </div>


    </div>


{% endblock %}