{% load sitetree %}


<div class="dropdown-menu dropdown-menu-two">
    {% for item in sitetree_items %}
        <a class="dropdown-item" href="{% sitetree_url for item %}">{{ item.title_resolved }}</a>
    {% endfor %}
</div>

