{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load djmoney %}
{% load custom_tags %}

{% block meta_description %}{{ restaurants.meta_description }}{% endblock %}
{% block other_metas %}{{ restaurants.other_metas | safe }}{% endblock %}
{% block meta_title %} {{ restaurants.meta_title }} {% endblock %}


{% block body %}


    <!--Head başlangıç-->
    {% include 'head.html' %}
    <!--head bitiş-->

    <div class="icerikTitle">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel"
             style="margin-top: 0px;">
            <div class="bgFilter"></div>
            <div class="carousel-inner">
                {% for item in restaurant_images %}
                    <div class="carousel-item {% if forloop.first %} active{% endif %}">
                        <img src="{{ item.image.url }}" class="d-block w-100" alt="{{ item.image_alt_text }}">
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container-fluid">

        <div class="container mtopTwo">

            <div class="row mtopFour">
                {% if restaurants %}
                    <div class="col-md-12 text-center">
                        <img src="{% if restaurants.logo %} {{ restaurants.logo.url }} {% endif %}"
                             style="height: 120px;">
                        <hr class="hrTwo" style="width: 50px;">
                        <h3 class="bigBaslikTree">
                            {{ restaurants.title }}
                        </h3>
                        <p>{{ restaurants.description | safe }}</p>
                    </div>
                {% endif %}
            </div>

            <div class="row mtopFour">
                <div class="col-md-12">
                    <div class="row">
                        {% for item in restaurant_menus %}
                            <div class="col-md-4" style="margin-bottom:15px">
                                <div style="float:left;">
                                    <img class="mobilRimage" src="{{ item.image.url }}" width="100"
                                         alt="{{ item.image_alt_text }}">
                                </div>
                                <div class="mMarginLeftTwo" style="float: left;margin-left: 15px;">
                                    {{ item.title }}
                                    <br><a style="color: #878787;">{{ item.sort_description | safe }}</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <!--<table class="table">
                        <tbody>
                        {% for item in restaurant_menus %}
                            <tr>
                                <td width="90" style="border-top: none !important;"><img class="mobilRimage" src="
                        {{ item.image.url }}"
                                                                                         width="210"></td>
                                <td style="border-top: none !important;padding-top: 1.7rem;">{{ item.title }}
                                    <br><a style="color: #878787;">{{ item.sort_description | safe }}</a>
                                </td>
                                <td class="text-right" style="border-top: none !important;padding-top: 1.7rem;">
                                    {% if item.balance %}{{ item.balance }}{% endif %}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>-->
                </div>

            </div>
            {% if restaurants.menu_pdf %}
                <div class="row pTopOne">
                    <div class="col-md-12 text-center">
                        <div style="text-align: center;">
                            <a class="btn btn-hotel" href="{{ restaurants.menu_pdf.url }}" target="_blank"><i
                                    class="fa fa-download"></i>
                                {% trans 'Tüm Menüyü İndir' %}</a>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="row mtopFour text-center">
                {% for item in restaurant_services %}
                    <div class="col-md-3">
                        <img src="{{ item.image.url }}" width="64" alt="{{ item.image_alt_text }}">
                        <h4 class="restorantFuture">{{ item.title }}</h4>
                    </div>
                {% endfor %}

            </div>


        </div>
    </div>

    <div class="container-fluid restorantRezerve mtopEight ">
        <div class="container">
            <div class="row">
                <div class="col-md-3 bosDiv"></div>
                <div class="col-md-6 min100">
                    <div class="restorantCheck">
                        <div class="row ">
                            <div class="col-md-12 text-center" style="color: white;">
                                <h4 class="smallBaslikTwo">{% trans 'KATRE ISLAND HOTEL' %}</h4>
                                <hr class="hrTwo" style="width: 50px;border-color: white;">
                                <h3 class="bigBaslikTree">
                                    {% trans 'Restorant' %} &amp; {% trans 'Rezervasyon' %}
                                </h3>

                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-12">
                                {% csrf_token %}
                                <form class="mtopTwo" method="post">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1" style="color: #878787;">{% trans 'Ad' %}</label>
                                        <input type="text" class="form-control restorantForm" id="name" name="name"
                                               required aria-describedby="textHelp">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1"
                                               style="color: #878787;">{% trans 'E-posta' %}</label>
                                        <input type="email" class="form-control restorantForm" id="email" name="email"
                                               required aria-describedby="emailHelp">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1"
                                               style="color: #878787;">{% trans 'Telefon No' %}</label>

                                        <input style="color: #878787;" class="form-control restorantForm" value="+90" type="tel" id="telefon" name="phone"
                                               pattern="[+]{1}[0-9]{11,14}" maxlength="14"
                                               required>

                                    </div>
                                    <div class="form-group">
                                        <label for="exampleFormControlTextarea1"
                                               style="color: #878787;">{% trans 'Mesaj' %}</label>
                                        <textarea class="form-control restorantForm" id="message" name="message"
                                                  rows="3"></textarea>
                                    </div>

                                    <div class="form-group">
                                        <h3 class="footerAltBaslik"><p class="mtopOne">
                                            <input type="checkbox" aria-label="Checkbox for following text input"
                                                   id="kvkk1" name="kvkk1" required>
                                            <a data-toggle="modal"
                                               style="cursor: pointer;"
                                               data-target="#staticBackdrop">
                                                {% trans 'Aydınlatma metnini okudum ve anladım' %}
                                            </a></p></h3>
                                    </div>

                                    <div class="form-group">
                                        <h3 class="footerAltBaslik"><p class="mtopOne">
                                            <input type="checkbox" aria-label="Checkbox for following text input"
                                                   id="kvkk2" name="kvkk2" required>
                                            <a data-toggle="modal"
                                               style="cursor: pointer;"
                                               data-target="#staticBackdrop2">
                                                {% trans 'Açık Rıza okudum, anladım ve onaylıyorum' %}
                                            </a></p></h3>
                                    </div>

                                    <!-- Modal -->
                                    <div class="modal fade" id="staticBackdrop" data-backdrop="static"
                                         data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                         aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="staticBackdropLabel">
                                                        {% trans 'KVKK Rıza Metni' %}</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    {% document_kvkk as kvkk %}
                                                    {{ kvkk.description | safe }}


                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">{% trans 'Kapat' %}
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.13/js/intlTelInput.min.js"
                                            integrity="sha512-QMUqEPmhXq1f3DnAVdXvu40C8nbTgxvBGvNruP6RFacy3zWKbNTmx7rdQVVM2gkd2auCWhlPYtcW2tHwzso4SA=="
                                            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
                                    <link rel="stylesheet"
                                          href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.13/css/intlTelInput.css"
                                          integrity="sha512-gxWow8Mo6q6pLa1XH/CcH8JyiSDEtiwJV78E+D+QP0EVasFs8wKXq16G8CLD4CJ2SnonHr4Lm/yY2fSI2+cbmw=="
                                          crossorigin="anonymous" referrerpolicy="no-referrer"/>
                                    <style>
                                        .iti.iti--allow-dropdown {
                                            width: 100%;
                                        }

                                    </style>
                                    <script>
                                        // Javascript
                                        var input = document.querySelector("#telefon");
                                        window.intlTelInput(input, ({
                                            // bu alan özel ayarlar ekleyebilirsiniz
                                            initialCountry: "tr"
                                        }));

                                        $(document).ready(function () {
                                            $('.iti__flag-container').click(function () {
                                                var countryCode = $('.iti__selected-flag').attr('title');
                                                var countryCode = countryCode.replace(/[^0-9]/g, '')
                                                $('#telefon').val("");
                                                $('#telefon').val("+" + countryCode + " " + $('#telefon').val());
                                            });
                                        });
                                    </script>

                                    <!-- Modal -->
                                    <div class="modal fade" id="staticBackdrop2" data-backdrop="static"
                                         data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                         aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="staticBackdropLabel">
                                                        {% trans 'KVKK Rıza Metni' %}</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    {% document_acik_riza_beyani as acik_riza %}
                                                    {{ acik_riza.description | safe }}

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">{% trans 'Kapat' %}
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <input type="submit" formaction="{% url 'restaurant_detail' restaurants.slug %}"
                                           name="news" class="btn btn-date btn-hotel" style="width: 100%"
                                           value="{% trans 'Gönder' %}"/>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}