{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load custom_tags %}

{% block meta_description %}{{ room.meta_description }}{% endblock %}
{% block meta_title %} {{ room.meta_title }} {% endblock %}
{% block other_metas %}{{ room.other_metas | safe }}{% endblock %}


{% block body %}

    <!--Head başlangıç-->
    {% include 'head.html' %}
    <!--head bitiş-->

    <script>
        function OnAdultChanged(value) {
            document.getElementById("adultCount").innerHTML = value;
        }

        function OnChildAgeChanged(value, number) {
            document.getElementById("childAge" + number).value = value;
        }

        function OnChildChanged(value) {
            document.getElementById("childCount").innerHTML = value;

            for (let i = 1; i <= 6; i++) {
                document.getElementById("childAge" + i).style.display = "none";
            }

            for (let i = 1; i <= value; i++) {
                if (parseInt(value) > 0) {
                    document.getElementById("childAge" + i).style.display = "block";
                } else {
                    document.getElementById("childAge" + i).style.display = "none";
                }
            }

        }

        function SetTotalValue() {
            var adult = document.getElementById("adultCount").innerHTML;

            console.log(adult)

            var child = document.getElementById("childCount").innerHTML;

            console.log(child)

            document.getElementById("totalGuest").innerHTML = parseInt(adult) + parseInt(child);

        }

        function SetRezervation() {
            let url = '{% get_reservation_link %}' +
                '?utf8=%E2%9C%93&search_made=true' +
                '&checkin_date=' + document.getElementById('rsv_start_date').value +
                '&checkout_date=' + document.getElementById('rsv_end_date').value +
                '&rooms[count]=1' +
                '&guest_rooms[0][adult_count]=' + document.getElementById('adultCount').innerHTML +
                '&guest_rooms[0][child_count]=' + document.getElementById('childCount').innerHTML +
                '&guest_rooms[0][guest_count]=' + document.getElementById('totalGuest').innerHTML +
                '&currency=EUR' +
                '&locale=tr-TR';

            let child = document.getElementById("childCount").innerHTML;

            for (let i = 1; i <= child; i++) {
                url = url +
                    '&guest_rooms[0][child_ages][]=' + document.getElementById('childAge' + i).value;
            }

            console.log(url)

            return url
        }
    </script>

    <div class=" icerikTitle">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel"
             style="margin-top: 0px;">
            <div class="bgFilter"></div>
            <div class="carousel-inner">
                {% for item in room_slider %}
                    <div class="carousel-item {% if forloop.first %} active{% endif %}">
                        <img src="{{ item.image.url }}" class="d-block w-100" alt="{{ item.image_alt_text }}">
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row ptopFour">
            <div class="col-md-12">
                <h3 class="odaTitle">{{ room.title }}</h3>
                <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                    <div class="carousel-inner">
                        {% for item in room_images %}
                            <div class="carousel-item {% if forloop.first %} active{% endif %}">
                                <img src="{{ item.image.url }}" class="d-block w-100" alt="{{ item.image_alt_text }}">
                            </div>
                        {% endfor %}

                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="rezerve">

                            <div class="row">
                                <div class="col-md-3 col-xs-6 col-sm-6">
                                    <label for="exampleFormControlSelect1">{% trans 'Giriş Tarihi' %}</label>
                                    <div class="input-group mb-3">
                                        <input style="background: none; color: white;border-radius: 0px;font-size: 13px;"
                                               type="date"
                                               class="form-control" aria-describedby="basic-addon2" id="rsv_start_date">
                                    </div>
                                </div>
                                <div class="col-md-3 col-xs-6 col-sm-6">
                                    <label for="exampleFormControlSelect1">{% trans 'Çıkış Tarihi' %}</label>
                                    <div class="input-group mb-3">
                                        <input style="background: none; color: white;border-radius: 0px;font-size: 13px;"
                                               type="date"
                                               class="form-control" aria-describedby="basic-addon2" id="rsv_end_date">
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-6 col-sm-6">
                                    <label for="exampleFormControlSelect1">{% trans 'Misafir' %}</label>
                                    <div class="input-group mb-3">
                                        <a style="margin-top:0px;text-align:left;padding-left:15px;"
                                           class="btn btnRezervasyon" data-toggle="modal" data-target="#misafirModal">
                                            <span>1</span> Oda, <span id="totalGuest">4</span> Misafir
                                        </a>
                                    </div>
                                </div>

                                <!-- Modal -->
                                <div class="modal fade" id="misafirModal" data-backdrop="static" data-keyboard="false"
                                     tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" style="color:#212529;font-size:16px;"
                                                    id="staticBackdropLabel">Oda seçenekleri</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body" style="color:#212529;">

                                                <div style=" background: #eee; width: 100%;  padding: 1rem;">
                                                    <small style=" font-size: 70%; font-style: italic;">Çocukların
                                                        yaşını önceden 10 olarak ayarladık. Müsaitlik durumunu görmek ve
                                                        doğru fiyatları almak için çocukların yaşını girin</small>
                                                </div>

                                                <div style="margin-top:1rem;">

                                                    <div class="OdaRepeat">
                                                        <h5 style="color:#212529;font-size:16px;">Oda </h5>
                                                        <div style="padding:1rem;width:100%;">
                                                            <div style=" position: relative;  float: left;">Yetişkin:
                                                            </div>
                                                            <div style=" position: relative;  float: right;">
                                                                <div class="form-group input-group-sm">
                                                                    <select class="form-control" id="adult"
                                                                            onchange="OnAdultChanged(this.value);">
                                                                        <option value="1">1</option>
                                                                        <option value="2">2</option>
                                                                        <option value="3">3</option>
                                                                        <option value="4">4</option>
                                                                        <option value="5">5</option>
                                                                        <option value="6">6</option>
                                                                        <option value="7">7</option>
                                                                        <option value="8">8</option>
                                                                        <option value="9">9</option>
                                                                        <option value="10">10</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div style="padding:1rem;margin-top:1rem;width:100%;">
                                                        <div style=" position: relative;  float: left;">Çocuk:<br><small
                                                                style="font-size:70%;font-style:italic;">0 ila 17
                                                            yaş</small></div>
                                                        <div style=" position: relative;  float: right;">
                                                            <div class="form-group input-group-sm"
                                                                 style="margin-top:.5rem;">
                                                                <select class="form-control" id="child"
                                                                        onchange="OnChildChanged(this.value);">
                                                                    <option value="0">0</option>
                                                                    <option value="1">1</option>
                                                                    <option value="2">2</option>
                                                                    <option value="3">3</option>
                                                                    <option value="4">4</option>
                                                                    <option value="5">5</option>
                                                                    <option value="6">6</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div id="childAge1"
                                                         style="padding:1rem;margin-top:2rem;width:100%;display:none;">
                                                        <div style=" position: relative;  float: left;"><small
                                                                style="font-size:80%;">1. Çocuk Yaşı:</small></div>
                                                        <div style=" position: relative;  float: right;">
                                                            <div class="form-group input-group-sm">
                                                                <select class="form-control"
                                                                        id="exampleFormControlSelect1"
                                                                        onchange="OnChildAgeChanged(this.value, 1);">
                                                                    <option>1</option>
                                                                    <option>2</option>
                                                                    <option>3</option>
                                                                    <option>4</option>
                                                                    <option>5</option>
                                                                    <option>6</option>
                                                                    <option>7</option>
                                                                    <option>8</option>
                                                                    <option>9</option>
                                                                    <option>10</option>
                                                                    <option>11</option>
                                                                    <option>12</option>
                                                                    <option>13</option>
                                                                    <option>14</option>
                                                                    <option>15</option>
                                                                    <option>16</option>
                                                                    <option>17</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="childAge2"
                                                         style="padding:1rem;margin-top:2rem;width:100%;display:none;">
                                                        <div style=" position: relative;  float: left;"><small
                                                                style="font-size:80%;">2. Çocuk Yaşı:</small></div>
                                                        <div style=" position: relative;  float: right;">
                                                            <div class="form-group input-group-sm">
                                                                <select class="form-control"
                                                                        id="exampleFormControlSelect1"
                                                                        onchange="OnChildAgeChanged(this.value, 2);">
                                                                    <option>1</option>
                                                                    <option>2</option>
                                                                    <option>3</option>
                                                                    <option>4</option>
                                                                    <option>5</option>
                                                                    <option>6</option>
                                                                    <option>7</option>
                                                                    <option>8</option>
                                                                    <option>9</option>
                                                                    <option>10</option>
                                                                    <option>11</option>
                                                                    <option>12</option>
                                                                    <option>13</option>
                                                                    <option>14</option>
                                                                    <option>15</option>
                                                                    <option>16</option>
                                                                    <option>17</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="childAge3"
                                                         style="padding:1rem;margin-top:2rem;width:100%;display:none;">
                                                        <div style=" position: relative;  float: left;"><small
                                                                style="font-size:80%;">3. Çocuk Yaşı:</small></div>
                                                        <div style=" position: relative;  float: right;">
                                                            <div class="form-group input-group-sm">
                                                                <select class="form-control"
                                                                        id="exampleFormControlSelect1"
                                                                        onchange="OnChildAgeChanged(this.value, 3);">
                                                                    <option>1</option>
                                                                    <option>2</option>
                                                                    <option>3</option>
                                                                    <option>4</option>
                                                                    <option>5</option>
                                                                    <option>6</option>
                                                                    <option>7</option>
                                                                    <option>8</option>
                                                                    <option>9</option>
                                                                    <option>10</option>
                                                                    <option>11</option>
                                                                    <option>12</option>
                                                                    <option>13</option>
                                                                    <option>14</option>
                                                                    <option>15</option>
                                                                    <option>16</option>
                                                                    <option>17</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="childAge4"
                                                         style="padding:1rem;margin-top:2rem;width:100%;display:none;">
                                                        <div style=" position: relative;  float: left;"><small
                                                                style="font-size:80%;">4. Çocuk Yaşı:</small></div>
                                                        <div style=" position: relative;  float: right;">
                                                            <div class="form-group input-group-sm">
                                                                <select class="form-control"
                                                                        id="exampleFormControlSelect1"
                                                                        onchange="OnChildAgeChanged(this.value, 4);">
                                                                    <option>1</option>
                                                                    <option>2</option>
                                                                    <option>3</option>
                                                                    <option>4</option>
                                                                    <option>5</option>
                                                                    <option>6</option>
                                                                    <option>7</option>
                                                                    <option>8</option>
                                                                    <option>9</option>
                                                                    <option>10</option>
                                                                    <option>11</option>
                                                                    <option>12</option>
                                                                    <option>13</option>
                                                                    <option>14</option>
                                                                    <option>15</option>
                                                                    <option>16</option>
                                                                    <option>17</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="childAge5"
                                                         style="padding:1rem;margin-top:2rem;width:100%;display:none;">
                                                        <div style=" position: relative;  float: left;"><small
                                                                style="font-size:80%;">5. Çocuk Yaşı:</small></div>
                                                        <div style=" position: relative;  float: right;">
                                                            <div class="form-group input-group-sm">
                                                                <select class="form-control"
                                                                        id="exampleFormControlSelect1"
                                                                        onchange="OnChildAgeChanged(this.value, 5);">
                                                                    <option>1</option>
                                                                    <option>2</option>
                                                                    <option>3</option>
                                                                    <option>4</option>
                                                                    <option>5</option>
                                                                    <option>6</option>
                                                                    <option>7</option>
                                                                    <option>8</option>
                                                                    <option>9</option>
                                                                    <option>10</option>
                                                                    <option>11</option>
                                                                    <option>12</option>
                                                                    <option>13</option>
                                                                    <option>14</option>
                                                                    <option>15</option>
                                                                    <option>16</option>
                                                                    <option>17</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="childAge6"
                                                         style="padding:1rem;margin-top:2rem;width:100%;display:none;">
                                                        <div style=" position: relative;  float: left;"><small
                                                                style="font-size:80%;">6. Çocuk Yaşı:</small></div>
                                                        <div style=" position: relative;  float: right;">
                                                            <div class="form-group input-group-sm">
                                                                <select class="form-control"
                                                                        id="exampleFormControlSelect1"
                                                                        onchange="OnChildAgeChanged(this.value, 6);">
                                                                    <option>1</option>
                                                                    <option>2</option>
                                                                    <option>3</option>
                                                                    <option>4</option>
                                                                    <option>5</option>
                                                                    <option>6</option>
                                                                    <option>7</option>
                                                                    <option>8</option>
                                                                    <option>9</option>
                                                                    <option>10</option>
                                                                    <option>11</option>
                                                                    <option>12</option>
                                                                    <option>13</option>
                                                                    <option>14</option>
                                                                    <option>15</option>
                                                                    <option>16</option>
                                                                    <option>17</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div style="margin-top:2rem;">
                                                        <hr>
                                                        <h5 style="color:#212529;font-size:16px;">Oda </h5>
                                                        <small><span id="adultCount">1</span> Yetişkin ,<span
                                                                id="childCount">0</span> Çocuk</small>
                                                    </div>


                                                </div>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" onclick="SetTotalValue()" data-dismiss="modal"
                                                        style="border-radius: 0; background: #bb985f; border-color: #bb985f; color: white;"
                                                        class="btn btn-sm">Uygula
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2 min100">
                                    <a class="btn btnRezervasyon" target="_blank"
                                       href='' type="submit"
                                       onclick="this.href=SetRezervation()"
                                    >{% trans 'Rezervasyon Yap' %}</a>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="row mtopTwo">
                    <div class="col-md-4">
                        <div>
                            <div style="text-align: center;">
                                <img src="{% static 'images/icon-user-grey.svg' %}" width="40">
                                <h3 class="Odafuture">{{ room.number_of_people }} {% trans 'Misafir' %}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <div style="text-align: center;">
                                <img src="{% static 'images/icon-plan-grey.svg' %}" width="40">
                                <h3 class="Odafuture">{{ room.size }} {% trans 'Metre Kare' %}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <div style="text-align: center;">
                                <img src="{% static 'images/icon-bed-grey.svg' %}" width="40">
                                <h3 class="Odafuture">{{ room.bed_size }} {% trans 'Metre Kare' %}</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <p class="odaMetin">{{ room.description | safe }}</p>
                    </div>
                </div>
                <hr>
                <div class="row mtopTwo">
                    <div class="col-md-12">
                        <h4 class="odaServisTitle">{% trans 'Oda Servisi' %}</h4>
                    </div>
                </div>
                <div class="row mtopOne text-center">
                    {% for item in room_services %}
                        <div class="col-md-3 pTopOne">
                            <img src="{{ item.image.url }}" width="25" alt="{{ item.image_alt_text }}"> <a
                                class="odaServisi">{{ item.title }}</a>
                        </div>
                    {% endfor %}
                </div>

            </div>

        </div>
    </div>

    <div class="container">
        <hr class="mtopFour">
        <div class="row mtopTwo">
            <div class="col-md-12">
                <h4 class="odaServisTitle">{% trans 'Diğer Odalar' %}</h4>
            </div>

        </div>
        <div class="row mtopTwo">
            {% for item in other_rooms %}
                <div class="col-md-4">
                    <img width="100%" src="{{ item.thumbnail_image.url }}" alt="{{ item.image_alt_text }}">
                    <h4 class="odaBaslik">{% trans 'HOTEL ROOM' %} <span><i class="fas fa-star"></i> <i
                            class="fas fa-star"></i> <i
                            class="fas fa-star"></i></span></h4>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="odaOzellik paddingOne">
                                <h3 class="odaBaslikTwo">{{ item.title }}</h3>
                                <div class="feture">
                                                    <span><i
                                                            class="fas fa-user-circle"></i> {{ item.number_of_people }} {% trans 'Misafir' %}</span>
                                    <span class="pLeft15"><img width="18px"
                                                               src="{% static 'images/odaProje.svg' %}"></i>
                                        {{ item.size }} {% trans 'Metre Kare' %}</span>
                                    <p class="mtopOne">
                                        {{ item.short_description | safe }}
                                        <br>
                                        <a class="btn btn-detay mtopTwo" href="{% url 'room_detail'  item.slug %}">Detaya
                                            Git</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br><br>
                </div>

            {% endfor %}


        </div>
    </div>


{% endblock %}