{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load custom_tags %}

{% block meta_description %}{{ spa_fitness.meta_description }}{% endblock %}
{% block other_metas %}{{ spa_fitness.other_metas | safe }}{% endblock %}
{% block meta_title %} {{ spa_fitness.meta_title }} {% endblock %}


{% document_kvkk as kvkk %}
{% document_acik_riza_beyani as acik_riza %}}

{% block body %}

    <!--Head Başlangıç-->
    {% include 'head.html' %}
    <!--Head Bitiş-->


    <div class=" icerikTitle">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel"
             style="margin-top: 0px;">
            <div class="bgFilter"></div>
            <div class="carousel-inner">
                {% for item in spa_fitness_slider %}
                    <div class="carousel-item {% if forloop.first %} active{% endif %}">
                        <img src="{{ item.image.url }}" class="d-block w-100" alt="{{ item.image_alt_text }}">
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row ptopFour">
            <div class="col-md-12">
                <h3 class="odaTitle">{{ spa_fitness.title }}</h3>
                <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                    <div class="carousel-inner">
                        {% for item in spa_fitness_image %}
                            <div class="carousel-item {% if forloop.first %} active{% endif %}">
                                <img src="{{ item.image.url }}" class="d-block w-100" alt="{{ item.image_alt_text }}">
                            </div>
                        {% endfor %}

                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row  mtopTwo">
            {% for item in spa_fitness_properties %}
                <div class="col-md-4">
                    <div>
                        <div style="text-align: center;">
                            <img src="{{ item.image.url }}" width="40" alt="{{ item.image_alt_text }}">
                            <h3 class="Odafuture">{{ item.title }}</h3>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <p class="odaMetin">{{ spa_fitness.description | safe }}</p>
            </div>
        </div>
        <hr>
        <div class="row mtopTwo">
            <div class="col-md-12">
                <h4 class="odaServisTitle">{% trans 'SPA Servisi' %}</h4>
            </div>
        </div>
        <div class="row mtopOne">
            {% for item in spa_fitness_service %}
                <div class="col-md-4">
                    <img src="{{ item.image.url }}" width="25"> <a class="odaServisi">{{ item.title }} </a>
                </div>
            {% endfor %}

        </div>
    </div>

    <div class="container-fluid restorantRezerve mtopEight ">
        <div class="container">
            <div class="row">
                <div class="col-md-3 bosDiv"></div>
                <div class="col-md-6 min100">
                    <div class="restorantCheck">
                        <div class="row ">
                            <div class="col-md-12 text-center" style="color: white;">
                                <h4 class="smallBaslikTwo">{% trans 'KATRE ISLAND HOTEL' %}</h4>
                                <hr class="hrTwo" style="width: 50px;border-color: white;">
                                <h3 class="bigBaslikTree">
                                    {% trans 'SPA' %} &amp; {% trans 'Rezervasyon' %}
                                </h3>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {% csrf_token %}
                                <form class="mtopTwo" method="post">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1" style="color: #878787;">{% trans 'Ad' %}</label>
                                        <input type="text" class="form-control restorantForm" id="name" name="name"
                                               required aria-describedby="textHelp">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1"
                                               style="color: #878787;">{% trans 'E-posta' %}</label>
                                        <input type="email" class="form-control restorantForm" id="email" name="email"
                                               required aria-describedby="emailHelp">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1"
                                               style="color: #878787;">{% trans 'Telefon No' %}</label>

                                        <input style="color: #878787;" class="form-control restorantForm" value="+90" type="tel" id="telefon" name="phone"
                                               pattern="[+]{1}[0-9]{11,14}" maxlength="14"
                                               required>

                                    </div>
                                    <div class="form-group">
                                        <label for="exampleFormControlTextarea1"
                                               style="color: #878787;">{% trans 'Mesaj' %}</label>
                                        <textarea class="form-control restorantForm" id="message" name="message"
                                                  rows="3"></textarea>
                                    </div>

                                    <div class="form-group">
                                        <h3 class="footerAltBaslik"><p class="mtopOne"><a data-toggle="modal"
                                                                                          style="cursor: pointer;"
                                                                                          data-target="#staticBackdrop">
                                            {% trans 'Aydınlatma metnini okudum ve anladım' %}
                                        </a> <input type="checkbox" aria-label="Checkbox for following text input"
                                                    id="kvkk1" name="kvkk1" required></p></h3>
                                    </div>

                                    <div class="form-group">
                                        <h3 class="footerAltBaslik"><p class="mtopOne"><a data-toggle="modal"
                                                                                          style="cursor: pointer;"
                                                                                          data-target="#staticBackdrop2">
                                            {% trans 'Açık Rıza okudum, anladım ve onaylıyorum' %}
                                        </a> <input type="checkbox" aria-label="Checkbox for following text input"
                                                    id="kvkk2" name="kvkk2" required></p></h3>
                                    </div>
                                    <!-- Modal -->
                                    <div class="modal fade" id="staticBackdrop" data-backdrop="static"
                                         data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                         aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="staticBackdropLabel">
                                                        {% trans 'KVKK Metni' %}</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    {% document_kvkk as kvkk %}
                                                    {{ kvkk.description | safe }}


                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">{% trans 'Kapat' %}
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.13/js/intlTelInput.min.js"
                                            integrity="sha512-QMUqEPmhXq1f3DnAVdXvu40C8nbTgxvBGvNruP6RFacy3zWKbNTmx7rdQVVM2gkd2auCWhlPYtcW2tHwzso4SA=="
                                            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
                                    <link rel="stylesheet"
                                          href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.13/css/intlTelInput.css"
                                          integrity="sha512-gxWow8Mo6q6pLa1XH/CcH8JyiSDEtiwJV78E+D+QP0EVasFs8wKXq16G8CLD4CJ2SnonHr4Lm/yY2fSI2+cbmw=="
                                          crossorigin="anonymous" referrerpolicy="no-referrer"/>
                                    <style>
                                        .iti.iti--allow-dropdown {
                                            width: 100%;
                                        }

                                    </style>
                                    <script>
                                        // Javascript
                                        var input = document.querySelector("#telefon");
                                        window.intlTelInput(input, ({
                                            // bu alan özel ayarlar ekleyebilirsiniz
                                            initialCountry: "tr"
                                        }));

                                        $(document).ready(function () {
                                            $('.iti__flag-container').click(function () {
                                                var countryCode = $('.iti__selected-flag').attr('title');
                                                var countryCode = countryCode.replace(/[^0-9]/g, '')
                                                $('#telefon').val("");
                                                $('#telefon').val("+" + countryCode + $('#telefon').val());
                                            });
                                        });
                                    </script>

                                    <!-- Modal -->
                                    <div class="modal fade" id="staticBackdrop2" data-backdrop="static"
                                         data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                         aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="staticBackdropLabel">
                                                        {% trans 'KVKK Rıza Metni' %}</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    {% document_acik_riza_beyani as acik_riza %}
                                                    {{ acik_riza.description | safe }}

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">{% trans 'Kapat' %}
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <input style="width: 100%" type="submit" formaction="{% url 'spa' %}" name="news"
                                           class="btn btn-date btn-hotel"
                                           value="{% trans 'Gönder' %}"/>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}