{% load static %}
{% load i18n %}

<div class="container-fluid video">
    <div class="row">
        <div class="col-md-12 ptopEight">
            <div style="text-align: center;">
                <br>
                <h3 class="slideBaslik spaBaslik" >
                    {% trans 'Katre Island Hotel' %}</h3>
                <h4 class="spa">{% trans 'SPA' %} &amp; {% trans 'SUITES' %}</h4>
                <a href="{% url 'spa' %}" class="btn btn-outline-light btn-rezerveNav mtopOne" type="submit">
                    {% trans 'SPA Sayfasına Git' %}</a>
            </div>
        </div>
    </div>
</div>