{% extends 'admin/base.html' %}
{% load static %}

{% block title %}Çeviriler{% endblock %}

{% block extrastyle %}

{% endblock %}

{% block extrahead %}
    <script src="//www.google.com/jsapi" type="text/javascript"></script>
    <script type="text/javascript">
        google.load("jquery", "1.3");
        {% if rosetta_settings.ENABLE_TRANSLATION_SUGGESTIONS %}google.load("language", "1");{% endif %}
        {% include 'rosetta/js/rosetta.js' %}
    </script>
{% endblock %}

{% block content %}
    <div id="header">
        {% block header %}
        <div id="branding">
            <h1 id="site-name"><a href="/admin">Çeviriler</a>  </h1>
        </div>
        {% endblock %}
    </div>
    <div class="breadcrumbs">{% block breadcumbs %}{% endblock %}</div>
    <div id="content" class="flex">
        {% block main %}{% endblock %}
    </div>
{% endblock %}